<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.repository.CartRepository">

    <insert id="save" parameterType="kr.smhrd.entity.Cart">
        insert into cart(customer_id, book_id, quantity)
        values(#{customer_id},#{book_id},#{quantity})
    </insert>

    <select id="findByCustomerId" resultType="kr.smhrd.entity.CartBook">
        select
        c.id, c.customer_id,c.book_id, c.quantity, c.created_at,
        b.title, b.price, b.author, b.page
        from cart c
        inner join book b
        on c.book_id=b.id
        where c.customer_id=#{customer_id}
    </select>

    <delete id="deleteById">
        delete from cart where id=#{id}
    </delete>

    <select id="cartCount" resultType="int"
                           parameterType="kr.smhrd.entity.Cart">
        select count(*) from cart c
        where c.customer_id=#{customer_id} and c.book_id=#{book_id}
    </select>

    <update id="cartQuantity" parameterType="kr.smhrd.entity.Cart">
        update cart set quantity=quantity+#{quantity}
        where customer_id=#{customer_id} and book_id=#{book_id}
    </update>

    <update id="cartQuantityUpdate" parameterType="kr.smhrd.entity.Cart">
        update cart set quantity=#{quantity}
        where id=#{id}
    </update>
</mapper>














